@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  box-sizing: content-box;
  margin: 0;
  padding: 0;
  background-color: transparent; /* 2 */
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 1 */
  background-color: transparent; /* 2 */
  background-image: none; /* 2 */
}

body {
  background-image: url("bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-left: auto;
  padding-right: auto;
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  border-radius: 2px;
  border: 1px solid rgba(255, 255, 255, 0.076);

  color: #10141d;
}

.pill-badge {
  padding: 0.5rem 0.75rem; /* 6px */ /* 10px */
  border-radius: 9999px;
  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 4px 16px 0 rgba(31, 38, 135, 0.076);
  backdrop-filter: blur(4.5px);
  -webkit-backdrop-filter: blur(4.5px);
  width: 8rem;
  display: inline-flex;
  justify-content: space-evenly;
  justify-items: center;
  column-gap: 0.375rem;
}

.pill-badge span {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 24px;
  height: 24px;
  border-radius: 9999px;
  background-color: #fff;
  padding: 0.375rem;
}

aside {
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
  align-items: start;
  flex-wrap: wrap;
  column-gap: 1rem;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
aside > header {
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
  align-items: start;
  flex-wrap: wrap;
}

aside > header > div.img-profile {
  border-radius: 9999px;
  object-fit: cover;
  background-position: calc(50% + 5.85216px) calc(50% - 3.7386px);
  background-image: url("https://placeholder.co/150x150");
  width: 150px;
  height: 150px;
}

.text-center {
  text-align: center;
}

.flex-content {
  display: flex;
  justify-content: center;
  justify-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

div.flex-content.pt-4 > span {
  font-weight: 500;
}

.btn {
  border: none;
  padding: 1rem 2.5rem;
  border-radius: 5px;
}
.btn-primary {
  background-color: #10141d;
  color: white;
  font-size: 1em;
}
